In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'; drop "Application_Type" and "Special_Considerations".
application_df = application_df.drop(["EIN", "NAME", "APPLICATION_TYPE", "SPECIAL_CONSIDERATIONS"], axis=1)
application_df.head()

,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,Independent,C1000,ProductDev,Association,1,0,5000,1
1,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

AFFILIATION          6
CLASSIFICATION      71
USE_CASE             5
ORGANIZATION         4
STATUS               2
INCOME_AMT           9
ASK_AMT           8747
IS_SUCCESSFUL        2
dtype: int64

In [4]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [5]:
# Determine which values to replace if counts are less than 1250?
replace_class = list(class_counts[class_counts < 1250].index)


# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [6]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\Owner\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\Owner\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\Owner\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="leaky_relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2640

 dense_1 (Dense)             (None, 40)                3240

 dense_2 (Dense)             (None, 30)                1230

 dense_3 (Dense)             (None, 1)                 31

=================================================================
Total params: 7,141
Trainable params: 7,141
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5*804)

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50,callbacks=[cp_callback])

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5922 - accuracy: 0.6978
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5817 - accuracy: 0.7055
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5792 - accuracy: 0.7055
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5769 - accuracy: 0.7114
Epoch 5/50
801/804 [============================>.] - ETA: 0s - loss: 0.5759 - accuracy: 0.7100
Epoch 00005: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5758 - accuracy: 0.7100
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5753 - accuracy: 0.7118
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5751 - accuracy: 0.7113
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5747 - accuracy: 0.7117
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5741 - accuracy: 0.7125
Epoch 10/50
788/804 [============================>.] - ETA: 0s - loss: 0.5730 - accuracy: 0.7130
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5736 - accuracy: 0.7125
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5738 - accuracy: 0.7117
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5735 - accuracy: 0.7114
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5730 - accuracy: 0.7127
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5726 - accuracy: 0.7138
Epoch 15/50
797/804 [============================>.] - ETA: 0s - loss: 0.5724 - accuracy: 0.7133
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5727 - accuracy: 0.7129
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5721 - accuracy: 0.7147
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5716 - accuracy: 0.7133
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5718 - accuracy: 0.7151
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5719 - accuracy: 0.7140
Epoch 20/50
803/804 [============================>.] - ETA: 0s - loss: 0.5711 - accuracy: 0.7131
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5710 - accuracy: 0.7131
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5714 - accuracy: 0.7147
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5709 - accuracy: 0.7152
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5709 - accuracy: 0.7145
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5703 - accuracy: 0.7142: 0s - loss: 0.5697 - accura
Epoch 25/50
803/804 [============================>.] - ETA: 0s - loss: 0.5709 - accuracy: 0.7155
Epoch 00025: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5708 - accuracy: 0.7156
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5704 - accuracy: 0.7150
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5703 - accuracy: 0.7150
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5701 - accuracy: 0.7147
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5699 - accuracy: 0.7156
Epoch 30/50
795/804 [============================>.] - ETA: 0s - loss: 0.5702 - accuracy: 0.7156
Epoch 00030: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5701 - accuracy: 0.7157
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5700 - accuracy: 0.7159
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5698 - accuracy: 0.7155
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5700 - accuracy: 0.7151
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5700 - accuracy: 0.7154
Epoch 35/50
800/804 [============================>.] - ETA: 0s - loss: 0.5693 - accuracy: 0.7164
Epoch 00035: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5695 - accuracy: 0.7161
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5695 - accuracy: 0.7166
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5693 - accuracy: 0.7159
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5693 - accuracy: 0.7162
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5692 - accuracy: 0.7169
Epoch 40/50
791/804 [============================>.] - ETA: 0s - loss: 0.5692 - accuracy: 0.7157
Epoch 00040: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5688 - accuracy: 0.7161
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5692 - accuracy: 0.7166
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5691 - accuracy: 0.7156: 0s - loss: 0.5699 - accura
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5687 - accuracy: 0.7164
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5687 - accuracy: 0.7163
Epoch 45/50
799/804 [============================>.] - ETA: 0s - loss: 0.5686 - accuracy: 0.7163
Epoch 00045: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5688 - accuracy: 0.7163
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5685 - accuracy: 0.7161
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5682 - accuracy: 0.7161
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5685 - accuracy: 0.7164
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5686 - accuracy: 0.7158
Epoch 50/50
796/804 [============================>.] - ETA: 0s - loss: 0.5679 - accuracy: 0.7162
Epoch 00050: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5683 - accuracy: 0.7158

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5804 - accuracy: 0.7033 - 691ms/epoch - 3ms/step
Loss: 0.5804062485694885, Accuracy: 0.7033236026763916

In [17]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")